/*AQUI EMPIEZA EL STYLE DE INDEX.HTML*/
html{
    min-height: 100%;
    position: relative;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
   
}
#header{
    
    background-image: url(img/monophy.gif);
   
}
body{
  margin:0;
  padding:0;
  height:100%;
    
}

#loguitomenu{
   
    padding-top: 2%;
    padding-left:2%;
    padding-bottom: 2%;
    width: 40%;
    
    
}

#name-loguito{

    font-size: 100%;
    color: gold;
    margin: 0%;
    font-weight: 700;
    font-family:"Press Start 2P";
}

#header{
    padding-left: 1%;
    
}

#menu-nav{
    
    padding-top: 7%;
}
.menu-navegador{
    color:gold;
    padding: 0%;
    font-size: 100%;
    font-weight: 500;
    
    
}

.menu-navegador:hover{
    color:gold;
    padding: left 3%;
    /*border: solid 1px white;*/
    font-size: 120%;
    text-decoration: none;
}
#icon-search{
    color: white;
    
    
}


.iconcard{
    font-size: 200%;
    color: white;
}



#footer{
    
    background-image: url(img/monophy.gif);
    
    width: 100%;
    margin-top: 5%;
    
    
}
.icon-footer{
    margin-left: 1%;
    color: white;
    font-size: 120%;
}
.footer-datos{
    color: white;
    font-weight: 500;
    padding-left:5%;
}
.icon-redes{
    color: white;
    font-size: 400%;
    float: right;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 4%;
}
.icon-redes:hover{
    font-size: 500%; 
}

.carousel-control-prev-icon{
    background-color:black;
    border-style: solid;
    border-radius: 5px;
}
.carousel-control-next-icon{
    background-color: black;
    border-style: solid;
    border-radius: 5px;
}
#text-ofert{
    padding-top: 3%;
    font-family:"Press Start 2P";
    text-align: center;
}
.carousel-item{
    padding-top: 10%;
    margin-bottom: 20%;
}
.descrip-coursel-producto{
    
    color:black;
    font-weight: 900;
}
.botton-carrusel-index{
    background-color: darkslateblue;
    color: white;
}

.centrador{
    text-align: center;
}
.quitar-margen{
    margin-bottom: -15%;
}
.margin-cero{
    margin:0%;
}
.background-search{
    opacity: 100%;
    
}
.letra-header{
    font-family:"Press Start 2P";
     
}



/*AQUI EMPIEZA EL STYLE DE TIENDA.HTML*/
.footer-width{
    width:100%;
}
.align-category{
    text-align: left;
}

.bg-category{
   
    font-weight: 700;
}
.dropdown-chico{
    color:white;
    border-radius:1px;
    background-color: rgb(0, 123, 255);
    
}
/*AQUI TERMINA EL STYLE DE TIENDA.HTML*/
/*AQUI EMPIEZA EL STYLE DE PROCESADORES*/
.pag-tittle{
    font-family:"Press Start 2P";
    margin-top:2%;
    
}
/*AQUI EMPIEZA EL STYLE DE PRODUCTOS*/
.desc-producto{
    font-weight: 500;
}

/* CREAR USUARIO */
#h1-create-user{
    text-align: center;
    font-family: "Press Start 2P";
    margin: 2%;
}
#contenido-crear-usuario{
    border: solid 3px black;
   
    margin: 1%;
}
.conten-registro{
    margin: 2%;
    margin-left: 5%;
    
    
}
.conten-registro-campo{
    float: right;
    
    
}
#aceptar-condiciones{
    border: solid 3px black;
    margin: 1%;
   
}
.check{
 margin: 5%;   
}
#button-register{
    background-color: darkblue;
    color: white;
    margin-left: 150%;
    margin-bottom: 2%;
}
#button-register:active{
    background-color:white;
    color:black;
    margin-left: 150%;
    margin-bottom: 2%;
}

/*AQUI TERMINA EL STYLE DE PRODUCTOS*/

/* FIN DE CREAR USUARIO*/
/* INICIAR SESION*/
#h1-INICIAR-SESION{
    text-align: center;
    font-family: "Press Start 2P";
    margin: 2%; 
}
#contenido-iniciar-sesion{
    border: solid 5px black;
}
.conten-login{
    margin: 3%;
   
}
.conten-login-campo{
    
    float: right;
    margin-right:35% ;
}
.button-ingresar-sesion{
    color:white;
    background-color: darkblue;
    margin-left: 42%;
    margin-bottom: 3%;
    
}
.button-ingresar-sesion:active{
    color:black;
    background-color:white;

    
}

/*FIN INICIAR SESION*/

/*INICIO SOLICITUD ADMIN*/

.volver-atras-i{
  float: left;
  margin-left: 3%;
  font-size: 250%;
  color: black;  
}
.volver-atras-i:active{
    font-size: 220%;
    color: grey;  
  }
#h1-soli_admin{
    margin-top: 2%;
    text-align: center;
    font-family: "Press Start 2P";
}
.tabla{
    border: solid 2px black;
    width: 80%;
    margin-left: 7%;
    border-collapse: collapse;
    
}
.head-table{
    border: solid 2px black;
}
.tr-0{
    background-color:yellow;
    
}
.tr-1{
    background-color: white;
}
.tr-2{
    background-color:rgb(192, 191, 191);
}
.botton-create{
    background-color: darkblue;
    color: white;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.botton-create:active{
    background-color: white;
    color: black;
}
.i-button-sum{
    
    color: white;
    
}
.icon-funcion{
   color:black;
   margin-left: 3%;
   
}
.icon-funcion:active{
    color:red;
 }
 .button-atras{
     color: white;
     background-color: darkblue;
     margin-left: 40%;
 }
 .button-siguiente{
     color: white;
     background-color:darkblue;
     
 }
.button-atras:active{
    background-color: white;
    color: black;
}
.button-siguiente:active{
    background-color: white;
    color: black;
}
.button-number{
    background-color:rgba(0, 0, 139, 0.815);
    color: white;
    border: darkblue;
}
.button-number:active{
    background-color: white;
    color: black;
}

/*FIN SOLICITUD ADMIN*/
/* INICIO PRODUCTO ADMIN*/

#h1-producto_admin{
    margin-top: 2%;
    text-align: center;
    font-family: "Press Start 2P"; 
}
/*FIN PRODUCTO ADMIN*/
/*INICIO PERFIL USUARIO Y ADMIN*/
#h1-perfil-de-usuario{
    margin-top: 2%;
    text-align: center;
    font-family: "Press Start 2P"; 

}
.perfil-usario-datos{
    
    margin-left: 10%;
    
}

.navbarperfiles ul li{
    display: inline-block;
    
    
    
}
.navbarperfiles ul li a{
    color: black;
    
}
.navbarperfiles ul li a:hover{
    text-decoration: none;
    font-weight: 500;
    
    
}
.menu-perfil{
    margin-top: 2%;
    float: right;
}
.img-user{
    margin-top: 3%;
    height: 30%;
}
.name-user{
    margin-top: 30%;
    margin-left: 5%;
    font-family: "Press Start 2P"; 
    
}

#datos-user{
    margin-top: 5%;
    border: solid 2px black;
    padding-bottom: 5%;

}
#datos-user h6 {
    margin-top: 5%;
    margin-left: 5%;
}
#datos-user h6 input{
    float:right;
    margin-right: 35%;
    background-color: lightgrey;
    
    
}  


/*FIN PERFIL USUARIO Y ADMIN*/

/* INICIO METODO DE PAGO*/
.nav-compra ul li{
    margin-top: 3%;
    display: inline-block; 
    
}
.h2-tarjeta{
    text-align: center;
    font-family:"Press Start 2P";
    margin-top: 3%;
}
.pagina-actualy{
    font-weight: 700;
}
.nav-compra{
    margin-left: 2%;
    
}
#datos-metodo-pago{
    margin-top: 3%;
    margin-left: 3%;
}
.datos-h3{
    margin-top: 2%;
    float: left;
    font-family:"Press Start 2P";
    margin-bottom: 0%;
    
}
#datos-metodo-pago i{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 150%;
    color: mediumblue;
}
.complete-orden {
    background-color: darkblue;
    color: white;
    border: solid 1px darkblue;
    margin-left: 20%;
    
}
.complete-orden:hover{
    background-color: darkblue;
    color: white;
    text-decoration: none;
}
.complete-orden:active{
    background-color: white;
    color: black;
}
/*FIN METODO DE PAGO*/
.align-category{
    text-align: left;
}

.bg-category{
   
    font-weight: 700;
}
.dropdown-chico{
   
    border-radius:1px;
    background-color: rgb(0, 123, 255);
    
}
/*AQUI TERMINA EL STYLE DE TIENDA.HTML*/
/*AQUI EMPIEZA EL STYLE DE PROCESADORES*/
.pag-tittle{
    font-family:"Press Start 2P";
    margin-top:2%;
    
}
